<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiteyTimeTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <MiteyTimeTracking.Properties.Settings>
            <setting name="trelloToken" serializeAs="String">
                <value>0cc36461b6d29c24df1c1d116a6b26176026b534bd7e66399f0bbfa4a45db584</value>
            </setting>
            <setting name="trelloAPIKey" serializeAs="String">
                <value>a209949165f39ad68df76fa729cd3d93</value>
            </setting>
            <setting name="miteAPIKey" serializeAs="String">
                <value>12439d9dafecb3c</value>
            </setting>
        </MiteyTimeTracking.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
